@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: #1C1C28;
  font-family: 'Neo-Sans', 'Inter';
  font-weight: 400;
  direction: rtl;
}

body {
  min-height: 100vh;
  background-color: #F3F5F7;
  color: #1C1C28;
}

button {
  cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8A74F9;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #ccc;
}

input:focus+.slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked+.slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main>div>* {
  margin: 15px 0;
}

.ticket {
  width: calc(100% * 1275 / 1440);
  max-width: 1275px;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-header__start {
  display: flex;
  align-items: center;
  gap: 7px;
}

.ticket-header__start .back-button {
  height: 32px;
  width: 32px;
  background-color: #E7EAED;
  border-radius: 8px;
  display: grid;
  place-items: center;
}

.ticket-header__start .back-button img {
  height: 13px;
}

.ticket-header__start h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}


.ticket-header__end button {
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #E9EAEA;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* end ticket header */

.ticket-details {
  display: flex;
  gap: 25px;
}

.ticket-details .ticket-chart {
  width: 840px;
  max-width: 100%;
  height: 275px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 22px 0 22px;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
}

.chart-heading {
  display: flex;
  justify-content: space-between;
}

.chart-heading__start h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.chart-heading__start p {
  color: #99A1B7;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  margin: 5px 0;
}

.chart-heading__end select {
  height: 30px;
  min-width: 67px;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #FAFAFA;
  border: 1px solid #E8E8E8;
  border-radius: 8px;
}

#chartdiv {
  width: 100%;
}

.ticket-details .ticket-discount {
  background-image: url('/images/background.png');
  background-color: #8A74F9;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 408px;
  max-width: 100%;
  min-height: 265px;
  position: relative;
}

.ticket-discount * {
  color: #fff;
}

.ticket-discount__content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 26px;
}

.ticket-discount__content p {
  font-size: 16px;
  font-weight: 500;
  width: 90%;
  display: flex;
  justify-content: center;
}

.ticket-discount__content p.ticket-date {
  font-size: 12px;
  font-weight: 400;
}

.ticket-discount__content p button {
  position: absolute;
  background: inherit;
  top: 25px;
  left: 20px;
}

.dash-line {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.4);
  margin: 16px 0;
  width: 100%;
  position: relative;
}

.dash-line::before {
  content: "";
  display: block;
  position: absolute;

  height: 27px;
  width: 12px;
  left: 0;
  top: -12px;
  border-radius: 0 12px 12px 0;
  background-color: #F3F5F7;
}

.dash-line::after {
  content: "";
  display: block;
  position: absolute;

  height: 27px;
  width: 12px;
  top: -12px;
  border-radius: 12px 0 0 12px;
  background-color: #F3F5F7;
}


.ticket-link {
  font-family: Inter;
  background-color: #fff;
  height: 42px;
  width: 226px;
  border-radius: 8px;
  border: 1px dashed #ddd;
  margin-top: 20px;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;
  direction: ltr;
}

.ticket-link .copy-button {
  background-color: inherit;
}

.ticket-link span {
  font-size: 13px;
  font-weight: 500;
  font-family: 'Inter';
  color: #000;

}

.ticket-discount__share {
  padding: 0 27px 0 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ticket-discount__share .share-content {
  display: flex;
  align-items: end;
  gap: 17px;
}

.share-content__text {
  display: grid;
  gap: 13px;
}

.share-content__text p.title {
  font-size: 14px;
  font-weight: 400;
}

.share-content__text p.percent {
  font-size: 18px;
}

.share-content__buttons .share-button {
  font-size: 12px;
  color: #fff;
  display: inline-flex;
  gap: 5px;
  align-items: center;
  background-color: inherit;
  border: 1px solid #fff;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
}


.ticket-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.search-start {
  display: flex;
  gap: 20px;
}

.search-start h3 {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.search-field-group {
  width: 277px;
  position: relative;
}

.search-input {
  width: 100%;
  height: 36px;
  outline: 0;
  border: 1px solid rgba(146, 161, 173, 0.4);
  border-radius: 6px;
  padding: 10px;
  padding-right: 30px;
  background-color: #fff;
  font-size: 10px;
}

.search-input::placeholder {
  color: #92A1AD66;
}

.icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-buttons button {
  background-color: #fff;
  border: 1px solid rgba(146, 161, 173, 0.4);
  border-radius: 6px;
  height: 36px;
  width: 36px;
}

.search-buttons button:hover {
  border-color: #8A74F9;
  transform: scale(1.2);
}

.search-end {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-end span {
  font-size: 14px;
  font-weight: 400;
  color: #9C9D9F;
}

.search-end button {
  font-size: 12px;
  font-weight: 400;
  height: 36px;
  padding: 13px 10px;
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  background-color: #8A74F9;
  color: #fff;
}

.search-end button:hover {
  background-color: #fff;
  color: #8A74F9;
  border: 1px solid #8A74F9;
}

.ticket-table {
  background-color: #fff;
  border: 1px solid #F3F3F5;
  border-radius: 8px;
  padding: 7px 6px;
}

.table-wrapper {
  overflow: auto;
}

.ticket-table table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 12px;
  font-weight: 400;
  overflow-x: scroll;
}

.ticket-table table tr>* {
  padding: 10px 10px;
  font-size: 13px;
  white-space: nowrap;
}


.ticket-table table tr {
  border-bottom: 1px solid #F3F3F5;
}

.ticket-table table tr td:first-child {
  color: #7E8299;
}

.ticket-table table th:first-child {
  border-radius: 0 6px 6px 0;
}

.ticket-table table th:last-child {
  border-radius: 6px 0 0 6px;
}

.ticket-table table th {
  color: #ABAAB1;
  background-color: #f8f8f9;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  height: 41px;
}

.ticket-table .th-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;

  color: #ABAAB1;
}

.ticket-table .user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  text-align: start;
}

.user-card .user-data h3 {
  font-size: 12px;
}

.user-card .user-data span {
  font-size: 10px;
  color: #92A1AD;
  line-height: 20px;
}

.ticket-data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ticket-data .ticket-icon {
  background-color: #8A74F91A;
  height: 31px;
  width: 31px;
  display: grid;
  place-items: center;
  border-radius: 8px;
}

.ticket-table .download-icon {
  cursor: pointer;
}

.ticket-data__text {
  text-align: start;
}

.ticket-data__text p {
  font-size: 12px;
  line-height: 150%;
}

.ticket-data__text span {
  font-size: 10px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.40);

  ;
}

.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: #1E1B39;
  color: #fff;
  text-align: center;
  padding: 5px 15px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;

  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

table .tooltip .tooltiptext {
  top: -10px;
  left: 0;
}

table .tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;

}

.ticket-discount .tooltip .tooltiptext {
  width: max-content;
  bottom: -30px;
  left: 20%;
  margin-left: -20px;
  /* Use half of the width (120/2 = 60), to center the tooltip */

}

.ticket-discount .tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;

}

.pagination,
.pagination-right,
.pagination-container {
  display: flex;
  align-items: center;
}

.pagination {
  justify-content: space-between;
  padding: 10px 6px;
}

.pagination-right {
  gap: 7px;
}

.pagination-right span {
  font-size: 11px;
  font-weight: 400;
}

.pagination-right select {
  display: flex;
  text-align: center;
  min-width: 52px;
  height: 32px;
  direction: ltr;
  gap: 6px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.pagination-container {
  gap: 12px;
}

.pagination-container .pagination-tab {
  width: 27px;
  height: 27px;
  display: grid;
  place-items: center;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  color: #7E8299;
}

.pagination-container .pagination-tab.active {
  color: #fff;
  background-color: #8A74F9;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: default;

}